.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 4fr 2fr 1fr;
    grid-template-rows: 2fr 6fr 2fr;
    grid-template-areas:    "head   head    head"
                            "main   aside   nav"
                            "footer footer  footer";
    gap: 1em;
}
header {
    background-color: rgb(234, 83, 28);
    grid-area: head;
}

main {
    background-color: rgb(235, 186, 74);
    grid-area: main;
}

aside {
    background-color: rgb(32, 147, 200);
    grid-area: aside;
}

nav {
    background-color: rgb(15, 215, 22);
    grid-area: nav;
}

footer {
    background-color: rgb(140, 143, 141);
    grid-area: footer;
}